<a asp-controller="Sessions" asp-action="LiveSession" class="btn btn-primary">
    ูุดุงูุฏุฉ ุงูุฌูุณุฉ ุงููุจุงุดุฑุฉ
</a>


<h2>ุงุณุชูุดู ุงูุฌูุณุงุช</h2>


<div class="row">
@foreach (var s in Model)
{
    <div class="col-md-4 mb-3">
        <div class="card p-3">
            <h5>@s.Title</h5>
            <p>@s.Description</p>

            <p><strong>ุงูููุงุฑุฉ:</strong> @s.Skill</p>

            <p>
                <strong>ุงูุญุงูุฉ:</strong>
                @if (s.IsLive)
                {
                    <span style="color:red;font-weight:bold">๐ด ูุจุงุดุฑ ุงูุขู</span>
                }
                else
                {
                    <span>โฐ ูุฑูุจุงู</span>
                }
            </p>

            <p>
                <strong>ุนุฏุฏ ุงูุทูุงุจ:</strong>
                @s.StudentSession.Count
            </p>

            @if (s.StartTime != null)
            {
                <p>
                    <strong>ุงูููุช:</strong>
                    @s.StartTime?.ToString("dd/MM/yyyy HH:mm")

                </p>
            }

            @if (s.Duration != null)
            {
                <p>
                    <strong>ุงููุฏุฉ:</strong>
                    @s.Duration ุฏูููุฉ
                </p>
            }

            <a asp-action="Details" asp-route-id="@s.Id" class="btn btn-primary btn-sm">
                ุนุฑุถ ุงูุชูุงุตูู
            </a>
             <!-- ุฒุฑ ุงูุงูุถูุงู -->
        <a asp-controller="Sessions" asp-action="LiveSession" asp-route-id="@s.Id" class="btn btn-success">
            ุงูุถู
        </a>
        </div>
    </div>
}
</div>
